<footer>
  <div class="footer">
    <div class="socialIcons">
      <a
        href="https://www.linkedin.com/in/radha-kishan-sharma-28290623a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
        ><i class="fa fa-linkedin"></i
      ></a>
      <a
        href="https://www.instagram.com/rk_sharma_118?utm_source=qr&igsh=MWlueXpqOTFna3l6dA=="
        ><i class="fa fa-instagram"></i
      ></a>
      <a href=""><i class="fa fa-github"></i></a>
      <a href="https://x.com/RkSharm11206783?t=tLqngC5kdHZCYmx53jMi1A&s=08"
        ><i class="fa fa-twitter"></i
      ></a>
    </div>
    <div class="footer-bottom">
      <p>Copyright &copy;2024; Designed by Rksharma</p>
    </div>
  </div>
</footer>